/* Common styles for all devices */
@mixin flex-colm {
    flex-direction: column;
    align-items: center;
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
    .hero__info {
        display: block;

        &-first {
            display: block;
            height: auto;
        }

        &-item {
            justify-content: center;
            margin: 0;
            .text{
                width: auto;
            }
        }
    }

    .hero__result{
        display: block;
        &-item{
   .num{
    font-size: 36px;
    line-height: 40px;
    top: 0px;
   }
        }
    }

    .about {
        height: auto;
        background-position: center center;

        &__banner {
            bottom: 0;
        }
    }

    .product__headline,
    .about__headline,
    .ecologic__headline {
        width: 100%;
        text-align: center;


        .info {
            justify-content: center;

        }

        .title {
            font-size: 34px;

        }



        .text {
            font-size: 14px;
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }

    footer {
        .footer__item {
            @include flex-colm;

            text-align: center;

            .info {
                display: flex;
                @include flex-colm;

            }

            .contact {
                ul {

                    justify-content: center
                }

            }

            .list {
                @include flex-colm;

                ul:first-child {
                    margin: 0;
                }
            }
        }
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero__info {
        display: block;

        &-first {
            display: block;
            height: auto;
        }

        &-item {
            margin: 0;
        }
    }

    .about {
        height: auto;
        background-position: center center;

        &__banner {
            bottom: 0;
        }
    }

    .product__link {
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .product__headline,
    .about__headline,
    .ecologic__headline {
        width: 100%;
        text-align: center;


        .info {
            justify-content: center;

        }

        .title {
            font-size: 30px;
            line-height: unset;
            margin-bottom: 20px;
        }



        .text {
            font-size: 14px;
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }

    footer {
        .footer__item {
            @include flex-colm;

            text-align: center;

            .info {
                display: flex;
                @include flex-colm;

            }

            .contact {
                ul {

                    justify-content: center
                }

            }

            .list {
                @include flex-colm;

                ul:first-child {
                    margin: 0;
                }
            }
        }
    }
}

/* Desktops */
@media screen and (min-width: 1024px) {}