/* Common styles for all devices */
@mixin flex-colm {
    flex-direction: column;
    align-items: center;
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
    .hero__info {
        display: block;
        bottom: 300px;

        &-first {
            display: block;
            height: auto;
        }

        &-item {
            justify-content: center;
            margin: 0;

            .text {
                width: auto;
            }
        }
    }

    .header__flex {
        flex-direction: column;
    }

    .hero__result {
        flex-direction: column;
        justify-content: center;
        bottom: 20px;

        &-item {
            margin: 20px 0;

            .num {
                font-size: 36px;
                line-height: 40px;
                top: 0px;
            }

            img {
                width: 30px;
            }
        }
    }

    .about {
        height: auto;
        background-position: center center;

        &__banner {
            bottom: 0;
            width: 100%;
        }
    }

    .product__headline,
    .about__headline,
    .ecologic__headline {
        width: 100%;
        text-align: center;


        .info {
            justify-content: center;

        }

        .title {
            font-size: 34px;

        }



        .text {
            font-size: 14px;
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }

    .ecologic__leftside{
        transform: translateY(0);
        position: relative;

        .ecologic__box{
            width: 100%;
            height: 100%;
        }
        
    }

    .space-betwwin{
        flex-direction: column;
    }

    footer {
        .footer__item {
            @include flex-colm;

            text-align: center;

            .info {
                display: flex;
                @include flex-colm;

            }

            .contact {
                ul {

                    justify-content: center
                }

            }

            .list {
                @include flex-colm;

                ul:first-child {
                    margin: 0;
                }
            }
        }
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .ecologic__leftside{
        transform: translateY(0);
        position: relative;

        .ecologic__box{
            width: 100%;
        }

    }

    
    .hero__info {
        display: block;
        bottom: 300px;

        &-first {
            display: block;
            height: auto;
        }

        &-item {
            justify-content: center;
            margin: 0;

            .text {
                width: auto;
            }
        }
    }

    .header__flex {
        flex-direction: column;
    }

    .hero__result {
        flex-direction: column;
        justify-content: center;
        bottom: 20px;

        &-item {
            margin: 20px 0;

            .num {
                font-size: 36px;
                line-height: 40px;
                top: 0px;
            }

            img {
                width: 30px;
            }
        }
    }

    .about {
        height: auto;
        background-position: center center;

        &__banner {
            bottom: 0;
            width: 100%;
        }
    }

    .product__headline,
    .about__headline,
    .ecologic__headline {
        width: 100%;
        text-align: center;


        .info {
            justify-content: center;

        }

        .title {
            font-size: 34px;

        }



        .text {
            font-size: 14px;
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }

    footer {
        .footer__item {
            @include flex-colm;

            text-align: center;

            .info {
                display: flex;
                @include flex-colm;

            }

            .contact {
                ul {

                    justify-content: center
                }

            }

            .list {
                @include flex-colm;

                ul:first-child {
                    margin: 0;
                }
            }
        }
    }
}

/* Desktops */
@media screen and (min-width: 1024px) {}